* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  text-align: center;
  color: #727878;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grid-size: 12;
  top: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  --topbar-height: 50px;
  --main-text-color: #f7f7f7;
  --secondary-text-color: #a4a4a4;
}

main {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  display: block;  /* new */
  width: 100%;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.column {
  width: 100%;
  height: 100vh;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.footer {
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
