.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  height: 100%;
}

.technologies .title {
  margin: 50px;
}

.technologies .images-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.technologies .images-container span img {
  width: 100px;
}
